Form div {
    position: relative;
    margin: 1%;
    min-width: 50%;
}
.flex.treaple div{
    min-width: 33%;
}
Form div input,Form select.form-control {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
Form div input + span,Form div select + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    background: transparent;
    border: none;
    z-index: 10;
}
Form div input:placeholder-shown + span,Form div select:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
Form div input:focus + span,Form div input:valid + span,
Form div select:focus + span,Form div select:valid + span,
Form div input[type='date'] + span,Form div input[type='datetime-local'] + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
Form div input:valid + span,Form div select:valid + span {
    color: green;
}
/*/////*/
  h5.modal-title,Form h5 {
    font-size: 24px;
    color: #187bea;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  Form h5{
    color: #2b6cb3;
  }
  h5.modal-title::before,h5.modal-title::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 0px;
    background-color: #187bea;
  }
  h5.modal-title::before {
    width: 18px;
    height: 18px;
    background-color: #187bea;
  }
  h5.modal-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
/***/
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
    justify-content: space-around;
}
/*//////////////////////////*/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #187bea;
}

.signin a:hover {
  text-decoration: underline #187bea;
}


.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #187bea;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}